# Compiled source files
*.dll
*.exe
*.so
*.dylib
*.pdb

# Build directories
bin/
obj/
out/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Logs
*.log

# Configuration
appsettings*.json
launchSettings.json

logs/

# dotnet package directories
*.nuget/
packages/
~$project.nuget.props
project.nuget.cache

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# VS Code
.vscode/

# Visual Studio
.vs/


# Rider
.idea/
*.sln.iml

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# MacOS-specific files
.DS_Store
